body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.book1-wrapper{
  position: relative;
}

.bookimg img{
  padding: 20px;
  width: 250px;
}

.bookimg {
  margin: 10px;
  width: 250px;
  positon: relative;
  display: inline-block;
}

.bookinfo{
  margin 10px;
  width: 45%;
  position: relative;
  display: inline-block;
}